In [1]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
import math
result = math.sqrt(25)
print(result)

5.0

In [4]:
from math import sqrt
result = sqrt(81)
print(result)

9.0

In [5]:
None = 10

SyntaxError: cannot assign to None (3366989415.py, line 1)

In [6]:
# None = 10
none = 10

In [10]:
a = 10
print(a)

A = "TOM"
print(A)

10
TOM

In [11]:
marks1 = 80
Marks1 = 90

Total = marks1 + Marks1

#printing the results
print(Total)

170

In [ ]:
case sensitive : mean capital and small letters are treated seperated

In [12]:
marks1 = 80
Marks1 = 90

Total = marks1 + marks1

#printing the results
print(Total)

160

In [13]:
# we can start variable name using"_"(comment lines in single line starts using '#')
_age = 21
print(_age)

age = 21
print(age)

# we can start a variable name using capital letter
Age = 21
print(Age)

AGE = 21
print(AGE)

# we can start a variable using 0-9 ,but we can use digits in-between
_age123 = 21
print(_age123)

21
21
21
21
21

In [14]:
123_age = 21
print(123_age)

SyntaxError: invalid decimal literal (4279288449.py, line 1)

In [19]:
"""
we can start a variable using 0-9
we can use digits anywhere,avoiding at the start
"""
_age123 = 21
print(_age123)

21

In [ ]:
it is the multiine comment

In [20]:
x = 5
# if x is greater than 2 then inthis case we have to print "positive number"
if x > 2:
    print("positive number")

positive number

In [ ]:
indentation with error

In [22]:
x = 5 

if x > 2:
print("positivenumber")
if x > 4:
print("positive number and it is more than 4")

IndentationError: expected an indented block after 'if' statement on line 3 (3118673627.py, line 4)

In [ ]:
if we wanted to remove indentation , we need to give" 4 spaces or one tab space" as shown in below known as

In [23]:
x = 5 

if x > 2:
    print("positivenumber")
if x > 4:
    print("positive number and it is more than 4")

positivenumber
positive number and it is more than 4

here we can also find the type of a variable

In [25]:
# integer,float,string,.......
a = 10 # it is a integer
print(a)
b = 12.40 # it is a float
print(b)
nm = "Alice"
print(nm)
c = "12" # c is treated as a string(char)
print(c)

print(type(a))
print(type(b))
print(type(nm))
print(type(c))

10
12.4
Alice
12
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [ ]:
lists,tuples,dictionary

In [ ]:
Lists:
->it should be declared in between the square brackets'
->lists are mutable.(can change/modify anything once declared)
->it is also heterogeneous

In [27]:
#List
fruits = ["banana","grapes","apples"]
print(fruits)
fruits = ["banana","apples","cherries"]

a = [1,2,3,"TOM"]
print(a)

['banana', 'grapes', 'apples']
[1, 2, 3, 'TOM']

In [ ]:
Tuple:
-> similar to list
-> these are immutable(cannot change/modify anything once declared)
->it is a collection of items

In [28]:
fruits = ["banana","grapes","apples"]
print(fruits)

a = (1,2,3,"TOM")
print(a)

['banana', 'grapes', 'apples']
(1, 2, 3, 'TOM')

In [ ]:
Dictionaries
-> represented in the "{,}" (curly braces/flower brackets)
-> can write using the word "dict"
-> it is mutable
-> has the keys-values
-> un ordered group of data

In [29]:
# Dictionaries

my_dict = {"name": "Tom","subject": "English","marks": 90}
print(my_dict)

{'name': 'Tom', 'subject': 'English', 'marks': 90}

In [ ]:
sets:
-> similar to dictionaries but do not contain the keys

In [30]:
#sets
fruis = {"banana","cherries","applies"}
print(fruits)

['banana', 'grapes', 'apples']

In [33]:
#sets
s1 = {1,2,3,4,5}
s2 = {1,2,3,4,5,6,7,8}
print(s1,s2)

{1, 2, 3, 4, 5} {1, 2, 3, 4, 5, 6, 7, 8}

In [34]:
my_dict1 = {"name": "klz","subject": "ds"}
print(my_dict1)

{'name': 'klz', 'subject': 'ds'}

In [40]:
#sets
s1 = {1,2,3,4,5,"banana"}
print(s1)

{1, 2, 3, 4, 5, 'banana'}

In [ ]:
# sets
s1 = {1,2,3,4,5,6,7,8,9,11,123,1334}
s2 = {1,2,3,4}
s3 = {1,2,3,4}#common in s1,s2